<a href="https://colab.research.google.com/github/NandanaNair05/python-codes/blob/main/python_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##VARIABLES AND DATATYPES

In [ ]:
import os #impoting os packages
#get the current directory
os.getcwd() #cwd stamds fpr current working directory
os.chdir("/content/sample_data")
# assigning numbera
x=6
print(x)
# addition
A=x+5
print("the sum of two variables is       :",A)
# subtraction
B=x-5
print("the differnece of two variables is:",B)
# multiplication
C=x*5
print("the product of two variables is   :",C)
# division
D= x/30
print("the quotient of two variables is:",D)

6
the sum of two variables is     : 11
the differnece of two variables is: 1
the product of two variables is: 30
the quotient of two variables is: 0.2

##LISTS

In [ ]:
a = 'hello'
b = 'world'
my_list = ['my','list',a,b]
my_list2 =[ [4,5,6,7], [3,4,5,6]]
print(a,b)
print(my_list)
print(my_list2)

hello world
['my', 'list', 'hello', 'world']
[[4, 5, 6, 7], [3, 4, 5, 6]]

In [ ]:
x = [] #empty list

In [ ]:
x = [1,2,3]
y = [10,20,30]
z = [x,y] #to include 2 lsits seperated by comma
print (z)
u = x + y # to concatenate two lists
print (u)

[[1, 2, 3], [10, 20, 30]]
[1, 2, 3, 10, 20, 30]

## Accessing the elements of the list

In [ ]:
#select 0th element of the list x
print (x)
x[0]

[1, 2, 3]

1

In [ ]:
#select last element of the list x
print (x)
x[-1]

[1, 2, 3]

3

In [ ]:
#slect 1st inclusive and 3rd exclusivee
x[1:3] # in the range first value is included while the last value is excluded

[2, 3]

In [ ]:
# select 2nd to end of x1: ['a' , 'b' , 'c' , 'd' , 'e']
x[2:]

[3]

In [ ]:
# select 2nd to end of x: ['a' , 'b' , 'c' , 'd' , 'e']
x[:3]

[1, 2, 3]

#OPERATIONS

In [ ]:
22/7 # Dividing using /

3.142857142857143

In [ ]:
22//7 # Integer divide a number with //

3

In [ ]:
22 % 7 # It is mod operator

1

In [ ]:
#assignment statement
a = 5 #assign a value to a
print (a)
x=[10,20,30]
x[0] = 1 #change the value of the item in the list.
print (x)

5
[1, 20, 30]

###RELATIONAL

In [ ]:
# RELATIONAL OPERATORS IN PYTHON
3 == 3 #Test for equality wit ==
3!=3 #test for inequalitu with !=
3 > 1 # tets greater than with >
3 >= 3 # test greater than or equal to
3 < 4 # test less than with<
3<= 4 # test less than or equal to with <=

True

In [ ]:
4 ==4

True

In [ ]:
not (2==2)
(1 != 1) and (1 < 1)
(1 >= 1) or (1 < 1)

True

In [ ]:
my_dict = {"name" : "Nandana", "age" : 19, "Grade" : "pass"}
my_dict

{'name': 'Nandana', 'age': 19, 'Grade': 'pass'}

In [ ]:
my_list = ['a', 'e', 'i', 'o', 'u']
print(my_list.index('e'))
print(my_list.index('i'))

1
2

In [ ]:
my_list.count('a')

1

In [ ]:
my_list.append('!')
my_list

['a', 'e', 'i', 'o', 'u', '!', '!']

In [ ]:
my_list.remove('!')
my_list

['a', 'e', 'i', 'o', 'u']

In [ ]:
del (my_list[0:1])

In [ ]:
my_list

['e', 'i', 'o', 'u']

In [ ]:
my_list.reverse()

In [ ]:
my_list

['u', 'o', 'i', 'e']

In [ ]:
my_list.extend('!')

In [ ]:
my_list

['u', 'o', 'i', 'e', '!']

In [ ]:
my_list.pop(-1)

'!'

In [ ]:
my_list

['u', 'o', 'i', 'e']

In [ ]:
my_list.insert( 0 ,'!')

In [ ]:
my_list

['!', '!', '!', 'u', 'o', 'i', 'e']

In [ ]:
my_list.sort()

In [ ]:
my_list

['!', '!', '!', 'e', 'i', 'o', 'u']

##TEXT

In [ ]:
my_string = "welcome"
my_string

'welcome'

In [ ]:
my_string [4:9]

'ome'

#List Processesing

steps:
1. Create an empty result list
2. keepa a total variable starting at 0
3. loop thru each no.
4. add to total,append total to result.

In [ ]:
#running sum
def runningSum(nums):
  result = []
  total = 0
  for n in nums:
    total += n
    result.append(total)
  return(result)
print(runningSum([10,20,25,1]))

[10, 30, 55, 56]

In [ ]:
def Sum(nums):
  result = 0
  for n in nums:
    result += n
  return(result)
print(Sum([10,20,25,1]))

56

In [ ]:
def CountEven(nums):
  count = 0
  for n in nums:
    if n % 2 == 0:
           count += 1
  return count
print(CountEven([10,20,25,1]))

2

In [ ]:
def reverseList(nums):
  return nums[:: -1]
print(reverseList([10,20,25,1]))

[1, 25, 20, 10]

In [ ]:
def FindMax(nums):
  max_num = nums[0]
  for n in nums:
    if n > max_num:
      max_num = n
  return max_num
print(FindMax([10,20,25,1]))

25

In [ ]:
def FindMin(nums):
  min_num = nums[-1]
  for n in nums:
    if n < min_num:
      min_num = n
  return min_num
print(FindMin([10,20,25,1]))

1

In [ ]:
def MergeList(list1, list2):
  return sorted(list1 + list2)

print(MergeList([10,20,25,1],[12,22,1,4]))

[1, 1, 4, 10, 12, 20, 22, 25]

In [ ]:
def SortedSquare(nums):
  return sorted([x**2 for x in nums])
print(SortedSquare([10,20,25,1]))

[1, 100, 400, 625]

In [ ]:
def MaxDeposit(accounts):
  return max(sum(cust) for cust in accounts)
print(MaxDeposit([[10,20],[25,1]]))

30

In [ ]:
#find 2 indices where numbers add up to the target
def twosums(nums, target):
  seen = {}
  for i, n in enumerate(nums):
    diff = target - n
    if diff in seen:
      return [seen[diff], i]
    seen[n] = i

print(twosums([24,11,15], 26))

[1, 2]

#DAY 4

######Menu driven grocery store datas